body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1919;
}
.container {

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
}
h4{
    color:#333;
    text-align:center;
}
form {
    margin-top: 20px;
}
input[type="text"], input[type="email"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"] {
    background-color: #1b1919;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top:10px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

.welcome{
   text-align:center;
}

.robotImg{
    display:block;
    width:300px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    
}
#roboRootsInterest{
    text-align:center;
}
.bold{
    font-weight: bold;
}
.features {
    list-style-type: none; 
    padding-left: 20px; 
}

.features li {
    background-image: url('./imgs/robot.png'); /* Specify the path to your custom image */
    background-size: 30px; /* Set the size of the custom image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: 0% 0%; /* Adjust the position of the image */
    padding-left: 35px; /* Add padding to push the text away from the image */
}
